
abbr{
    text-decoration: none;
}

.select-login li{
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
}
.reservation-store{
    display:none;
    position: relative;
    height: 350px;
}
.reservation-store>div{
    text-align: center;
    padding: 20px 0;
}

.store-table{
    width: 90vw;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 10px;
}

.take-day{
    width: 50px;
    height: 50px;
    border: 1px solid blueviolet;
    margin: 4px;
    display: inline-table;
}
.take-day div{
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.time-zone{
    width: 70vw;
    margin: 0 auto;
    display: none;
    position: absolute;
    left: 14vw;
}
.time-zone>div{
    display: block;
}
.ant-tabs-nav{
    width: 80%;
    margin: 12px auto;
}
.ant-tabs-nav-list{
    display: flex;
    justify-content: space-between;
}
.ant-tabs-content-holder{
    display: none;
}
.ant-tabs-tab{
    display: inline-table;
    width: 50px;
    height: 30px;
    cursor: pointer;
}
.ant-tabs-tab>div{
    display: table-cell;
    vertical-align: middle;
}
.ant-tabs-nav-operations{
    display: none;
}
.ant-tabs-ink-bar, .ant-tabs-ink-bar-animated{
    display: none;
}
.table-id{
    display: table-cell;
    vertical-align: inherit;
    width: 200px;
}
th{
    display: inline-block;
    padding-right: 12px;
}
.ant-tabs-tab-active{
    background: palegreen;
}
.ant-tabs-content-holder{
    padding-top: 15px;
    display: inline-block;
}
.gotoCheck{
    margin-top: 12px;
}